@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-n1: #20212b;
  --color-n2: #242532;
  --color-n3: #484c69;
  --color-n4: #f3f4f8;
  --color-p: #635fc7;
}
